<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="MessageDb" connectionString="Data Source=localhost;Initial Catalog=MessageDb;User Id=#HashID#;Password=#HashPW#;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>